.button {
  &--red {
    padding: 16px 50px;
    font-size: 14px;

    @include onTablet {
      font-size: 17px;
    }
  }

  &--white {
    padding: 10px 50px;
    border: 1px solid var(--G2, #B6BAC4);

    @include onTablet {
      padding: 16px 50px;

    }
  }

  &--buy-more {
    width: 128.783px;
    height: 37.516px;
    padding: 0;
  }
}