.button {
  &--red {
    padding: 16px 50px;
    font-size: 14px;

    @include onTablet {
      font-size: 17px;
    }
  }

  &--transparent {
    width: 80px;
    height: 27px;

    color: #747474;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #E1E1E1;
    line-height: 112%;
  }

  &--white {
    padding: 10px 50px;
    border: 1px solid var(--G2, #B6BAC4);

    @include onTablet {
      padding: 16px 50px;

    }
  }

  &--buy-more {
    width: 128.783px;
    height: 37.516px;
    padding: 0;
  }

  &--accept {
    width: 122px;
    height: 27.123px;

    padding: 0;
  }
}