.password {
  width: 567px;
  height: 554px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 32.7px 0px rgba(0, 0, 0, 0.11);


  padding: 66px 89px 57px 79px;

  position: absolute;
  top: 10%;
  left: 28%;


  font-family: Jost;
  font-weight: 300;
  text-align: center;
  line-height: 200%;
  font-size: 16px;




  &-title {
    font-weight: 200;
    text-transform: uppercase;
    line-height: 150%;
    letter-spacing: -1.1%;
    font-size: 36px;

    margin-bottom: 20px;
  }

  &-message {
    margin-bottom: 10px;
  }


  &__form {

    &-input {
      margin-bottom: 63px;
    }

    &-button {
      width: 129px;
      height: 51px;
      padding: 0;
      margin-bottom: 20px;
    }

  }


  &-link {
    color: $G4;
    text-decoration: underline;
    text-align: center;
    display: block;
  }
}