.user {
  width: 1225px;
  max-height: 645px;
  border-radius: 20px 20px 24px 24px;

  position: absolute;

  bottom: -100px;

  z-index: 2;

  &--guest {
    left: -140%;
    bottom: 50px;

    @include onDesktopBig {
      position: fixed;

      top: 80px;
    }
  }

  @include onDesktopBig {
    width: 1525px;
    height: 945px;

    bottom: 80%;
    left: 0%;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 0px 0px;

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(16.149999618530273px);
    padding: 14px 29px 14px 57px;
    color: #030d2e;
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  &__main {
    height: 593px;
    padding-left: 108px;
    padding-right: 34px;
    display: flex;
    background: var(--W, #fff);

    box-shadow: 0px 4px 55.4px 0px rgba(0, 0, 0, 0.64);
    border-radius: 0px 0px 20px 20px;

    @include onDesktopBig {
      height: 897px;
    }
  }

  &__left {
    width: 469px;
    height: 593px;
    flex-shrink: 0;
    background: linear-gradient(193deg, #f3f8fe 1.28%, #fdf8eb 99.68%);
    padding: 61px 42px 21px;

    @include onDesktopBig {
      padding: 81px 42px 21px;
      height: 897px;
    }

    &-title {
      font-family: Jost;
      font-size: 48px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #030d2e;

      margin-bottom: 26px;

      &--pronoun {
        font-size: 16px;
      }

      &--guest {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    &-list {
      display: flex;
      gap: 17px;
      margin-bottom: 10px;
    }

    &-button {
      display: flex;
      justify-content: center;
      margin-right: 35px;
    }

    &-item {
      color: black;
      position: relative;
      margin-right: 8px;

      &::before {
        content: '\2022';
        position: absolute;
        left: -16px;
      }

      &:first-child::before {
        content: none;
      }
    }

    &-img {
      background-image: url('./assets/user.svg');
      height: 350px;
      width: 110%;
      position: relative;
      left: -40px;

      background-position: center top -40px;
      background-size: cover;
      margin-bottom: 15px;

      @include onDesktopBig {
        height: 700px;
        margin: 0;
      }
    }
  }

  &__right {
    padding: 100px 70px;
    overflow-y: scroll;

    @include onDesktopBig {
      padding: 141px;
    }

    &-button {
      &-container {
        display: flex;
        gap: 16px;
        margin-bottom: 22px;

        &--contact {
          position: relative;
          top: -10%;
          right: -35%;
        }
      }

      &--settings {
        position: relative;
      }

      &--message {
        width: 275px;
        height: 51px;
        padding: 0;
      }

      &--add-contact {
        width: 53px;
        height: 51px;
        border: 1px solid $G2;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }

    &-title {
      font-family: Jost;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 7%;
      color: #030d2e;
      font-weight: 400;
      text-align: left;
      margin-bottom: 31px;

      &--underline {
        text-decoration: underline;
      }
    }

    &-settings {
      width: 208px;
      height: 119px;
      background-color: #fff;
      border-radius: 11px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      padding: 14px 7px 0;
      position: absolute;
      z-index: 1;
      right: 8%;
      top: 200px;

      &-option {
        font-family: Jost;
        font-size: 13px;
        width: 100%;
        border-radius: 7px;
        line-height: 200%;
        margin-bottom: 5px;
        transition: all 0.3s;

        &:hover {
          background-color: $G1;
        }
      }
    }

    &-description {
      font-family: Jost;
      font-size: 16px;
      font-weight: 300;
      line-height: 200%;
      color: #030d2e;
      font-weight: 400;
      text-align: left;
      margin-bottom: 31px;

      &--title {
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 10px;
      }
    }
  }

  &__form {
    position: relative;
    margin-bottom: 50px;

    @include onDesktopBig {
      margin-bottom: 80px;
    }

    &-input {
      width: 516px;
      height: 225px;
      text-align: left;
      margin: 0;
      padding: 25px;
      border-radius: 36px;
      font-family: Jost;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      resize: none;
      margin-bottom: 16px;

      border: 1px solid #b6bac4;

      @include onDesktopBig {
        width: 716px;
        height: 225px;
      }
    }
  }

  &__scripts {
    &-title {
      font-family: Jost;
      font-size: 24px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      margin-bottom: 22px;
      display: flex;
      align-items: center;

      &--span {
        font-weight: 300;
        font-size: 20px;
      }
    }

    &-container {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }

    &-img {
      background-image: url('./assets/script.svg');
      height: 257px;
      width: 200px;
      background-position: center;
      background-size: cover;
    }
    &-wrapper {
      margin-left: 5px;
    }
  }

  &__password {
    width: 567px;
    height: 634px;
    background-color: #fff;
    border-radius: 24px;
    padding: 66px 80px;

    position: absolute;

    top: 0%;
    left: 25%;

    @include onDesktopBig {
      top: 25%;
      left: 35%;
    }

    &-title {
      font-family: Jost;
      font-size: 36px;
      line-height: 150%;
      font-weight: 200;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 44px;
    }

    &-form {
      &-buttons {
        display: flex;
        justify-content: center;
        gap: 50px;

        &--profile {
          margin-top: 32px;
        }
      }
    }
  }
}
